.footer {
  padding: 15px 24px;
  border-top: var(--border-width) solid var(--border-color);
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.error {
  color: var(--error-color);
}
