.listWrap {
  position: relative;
  margin-top: 20px;
  padding: 0 0 0 24px;
  transition: height 0.1s ease-in-out;
  overflow: hidden;
}

.mask {
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-image: linear-gradient(180deg, #000 0%, #000 100%);
  mask-position: left top;
}

.listContainer {
  flex: 1;
  margin: 0;
  padding: 0;
  padding-right: 24px;
  list-style: none;
  margin-bottom: 0;
  overflow-x: hidden;
  overflow-y: overlay;
  max-height: 406px;
}

.imgContainer {
  height: 406px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// transition
.loading-enter {
  opacity: 0;
}

.loading-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.loading-enter-done {
  opacity: 1;
}

.loading-exit {
  opacity: 1;
}

.loading-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.loading-exit-done {
  opacity: 0;
}
