.result {
  &:not(:first-of-type) {
    margin-top: 10px;
  }
}

.link {
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-radius: var(--border-radius);
  background: transparent;
  padding: 12px;
  padding-right: 60px;
  position: relative;
  transition: background 0.15s ease-in;

  &::after {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.15s ease-in;
    background: url(../../public/icons/visit-site.svg);
    opacity: 0;
  }

  &:hover {
    background: var(--background-gray-color);

    &::after {
      opacity: 1;
    }
  }

  picture {
    background: var(--white);
    border-radius: 10px;
  }
}

.image {
  height: 76px;
  width: 76px;
  border-radius: 10px;
  vertical-align: middle;
}

.textContainer {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.title,
.description {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: var(--title-color);
}

.description {
  margin-top: 8px;
  font-size: 16px;
  line-height: 20px;
  color: var(--paragraph-color);
}
