.tag {
  position: relative;
  list-style: none;
  padding: 7px 16px;
  display: block;
  background-color: var(--background-gray-color);
  color: var(--primary-color);
  border-radius: var(--border-radius-large);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.75px;
  cursor: pointer;
  transition: background-color 0.15s ease-in, color 0.15s ease-in;
  stroke: currentColor;

  &:hover {
    color: var(--white);
    background-color: var(--primary-lighten-color);
  }

  &.active {
    color: var(--white);
    background-color: var(--primary-color);
  }

  &:not(:first-of-type) {
    margin-left: 16px;
  }

  display: flex;
  align-items: center;
}

.icon {
  margin-right: 9px;
}
